#insignia{
    color: blueviolet;
    /* background-color: black;
    padding: 5px; */
    animation-name: insignia;
    animation-duration: 5s;
}
@keyframes insignia {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#flecha{
    color: brown;
    animation-name: flecha;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: reverse;
    animation-delay: 4s;
    
    position: absolute;
    left: 250px;
}
@keyframes flecha{
    from{color: blue;top: 250px;}
    to{color: brown;top: 50px;}
}
.cuadros{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
#uno,#tres{
    background-color: black;
    color: white;
    position: relative;
    top: 0px;
    animation-name: mover;
    animation-duration: 5s;
}
@keyframes mover {
    25%{ top: 200px;left: 0px;}
    50%{left: 220px;}
    75%{top: 0px;}
    100%{left: 20px;}
}
#dos,#cuatro{
    position: relative;
    animation-name: mover,flecha;
    animation-duration: 5s,6s;
    animation-iteration-count: infinite,infinite;  
}

ul li{
    display: inline;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
ul li:hover{
    animation-name: menu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes menu {
    0%{
        padding: 10px;
        background-color: blueviolet;
        color: white; 
    }
    50%{
        padding: 15px;
        background-color: rgba(137, 43, 226, 0.465);
        color:black;
        box-shadow: 5px 5px 5px black;
        border-radius: 50px;
    }
    100%{
        padding: 10px;
        background-color: blueviolet;
        color: white; 
    }
}
