body{
    background-image: url('../img/fondo.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.btn-primary{
    background-color: chartreuse;
}
.btn-primary:hover{
    background-color: forestgreen !important;
}
.bg-otra{
    background-color: rgba(97, 34, 139, 0.548);
}
