*{
    margin: 0px;
}
header{
    background-image: url('../img/header.jpeg');
    /* background-repeat: no-repeat; */
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
    /* opacity: 0; */
}

h1{
    background-color: rgba(255, 255, 255, 0.671);
    height: 40px;
    padding: 20px;
}
article{
    background: linear-gradient(rgba(255, 0, 0, 0.514),rgba(0, 128, 0, 0.404),
    rgba(0, 0, 200, 0.404));
    width: 100%;
    
    height: 700px;
    padding-top: 150px;
}
nav{
    position: fixed;
    background-color: rgb(16, 130, 230);
    padding: 15px;
}
nav ol li{
  margin: 5px;
    display: inline;
    opacity: 0.5;
}
nav ol li:hover{
    margin: 5px;
    display: inline;
    opacity: 1;
  }
nav ol li a{
    text-decoration: none;
    color: black;
}
article h2{
    text-align: center;
   
}
body{
    overflow: hidden;
}
footer{
    background-color: rgb(77, 75, 75);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: white;
}