header{
    background-image: url('../img/header.jpeg');
    /* background-repeat: no-repeat; */
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
    /* opacity: 0; */
}

h1{
    background-color: rgba(255, 255, 255, 0.671);
    height: 40px;
    padding: 20px;
}
article{
    background: linear-gradient(rgba(255, 0, 0, 0.514),rgba(0, 128, 0, 0.404),
    rgba(0, 0, 200, 0.404));
    width: 90%;
    margin-left: 5%;
    height: 700px;
    padding-top: 150px;
}
nav{
    position: fixed;
}
nav ol li{
    background-color: rgb(16, 130, 230);
    margin: 5px;
    display: inline;
    padding: 10px;
    
}
article h2{
    text-align: center;
   
}