
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
body{
    overflow: hidden;
}
.principal{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content:space-between;
    justify-content: space-evenly;
}
.cuadro{
    background-color: blueviolet;
    width: 20%;
    /* height: 200px; */
    /* float:left;
    border: 80px solid rgb(247, 223, 7);
    box-sizing: border-box; */
    overflow: auto;
}
.cuadro p{
    font-size: x-large;
}
.cuadro p::before{
    content: 'A mi no me pueden copiar';
}
.cuadro p::after{
    content: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat sed nisi vero incidunt hic error quas dolor, inventore illum? Corporis sed perferendis suscipit minus cupiditate consequatur dignissimos laborum, exercitationem tenetur?';
}
.cuadro p::first-letter{
    color:white;
    background-color: black;
    padding: 2px;
}
footer{
    background-color: rgb(77, 75, 75);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: white;
}
.letra{
    font-family: 'Azeret Mono', monospace;
}


