/* selector{ propiedad:valor; propiedad:valor;} */
html{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.miestilo{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
body{
    background-color: bisque;
}
h1{
    text-align: center;
    background-color: black;
    color: white !important;
}
li{
    display:inline;
    background-color: rgba(0, 0, 255, 0.787);
    border: 1px solid black;
    padding: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 4px 5px 3px black;
    margin: 10px 10px;
    
}
#padre, ul{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.hija{
    background-color: aqua;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h2{
    text-align: center;
}
p{
    text-align: justify;
    color: white;
    background-color: blue;
    padding: 15px;
}
#init, #add, #status, #commit,#push{
    width: 18%;
    float: left;
    border: 5px solid black;
    box-sizing: border-box;
    margin: 5px;
    height: 800px;
}
span{
    background-color: green;
    color: yellow;
}
div#init{
    background-color: blueviolet;
}
div#init h2{
    background-color: rgb(255, 0, 200);
}



